@page "/tråde"

@inherits LayoutComponentBase

@using Reddit_BlazorApp.Data;
@using Model;
@inject ApiService apiService

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (tråde == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <style>
        .tab {
            display: inline-block;
            margin-left: 20em;
        }
    </style>
    
    <table>
        
        @foreach (var tråd in tråde)
        {
            <tr>
                Skrevet af: @tråd.Bruger.BrugerNavn
                - Dato: @tråd.Dato
            </tr>
            <tr><h3><a href="/tråd/@tråd.TrådID">@tråd.Overskrift</a></h3></tr>
            <tr>
                              
                <td>@tråd.Indhold</td>
            </tr>
             <tr>
                <td> Karmapoint @(tråd.UpVotes - tråd.DownVotes)
                    
                    <button class="tab" @onclick="() => UpVote(tråd.TrådID)">Upvote</button>
                    <button @onclick="() => DownVote(tråd.TrådID)">Downvote</button> </td>
            </tr>

            <br />
        }
    </table>

    <br/>
   

}

@code {
    private Tråd[]? tråde;
    private Tråd? voteTråd;

    protected override async Task OnInitializedAsync()
    {
        tråde = await apiService.GetTråde();
        apiService.RefreshRequired += this.RefreshMe;
    }

    private async void UpVote(int id)
    {
        var updatedTråd = await apiService.UpVotesTråd(id);
    }

    private async void DownVote(int id)
    {
        var updatedTråd = await apiService.DownVotesTråd(id);
    }

    private async void RefreshMe()
    {
        tråde = await apiService.GetTråde();
        StateHasChanged();
        Console.WriteLine("Refreshed");
    } 
}
